<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270192308039-sh58kbn606hqonbaml89a56dddoimk7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270192308039-sh58kbn606hqonbaml89a56dddoimk7m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>270192308039-gp1kusca6jql89c8bv4hn0ied7cjjrrj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABIGzwkg8y1fDnp7teFtICpTnHepc6Qvs</string>
	<key>GCM_SENDER_ID</key>
	<string>270192308039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scratchpadlabs.clarified.clarifiedMobile</string>
	<key>PROJECT_ID</key>
	<string>clarified-1501</string>
	<key>STORAGE_BUCKET</key>
	<string>clarified-1501.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270192308039:ios:8299dd80c1bc2aa1976662</string>
</dict>
</plist>